@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */

$sb_product_color: #0054a6; // your applications-color code should be matched with application logo color i.e. this is used when required to styling header, footer . . .

$sb_theme_background_color: #ededf7; // your application background color should be matched with as per requirement

$sb_primary_button_color: #0054a6; // your primary button color

$sb_secondary_button_color: green; // your secondary button color

$sb_danger_button_color: red; // your danger button color

$sb_common_font_size: 12px; // default font size

$sb_small_font_size: 10px; // small font size

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

// for theme/app styling

nb-layout-column.colored-column-basic {
  background: $sb_theme_background_color;
}

nb-layout-header.layout_header {
  background: $sb_product_color;
}

nb-sidebar.menu-sidebar.disable-print.ml-1.start.expanded,
nb-sidebar .main-container {
  width: 14rem !important;
}

nb-sidebar.menu-sidebar.disable-print.ml-1.start.expanded img {
  margin-left: 1rem !important;
  height: 60px !important;
  padding-top: 0 !important;
}

nb-sidebar.menu-sidebar.disable-print.ml-1.start.compacted img {
  margin-left: 12px !important;
  height: 50px !important;
  padding-top: 20px !important;
}

nb-menu {
  max-width: 14rem !important;
}

nb-sidebar.nb-menu .menu-group, .nb-theme-default nb-menu .menu-item a {
  line-height: 0px;
  padding: 0.25rem 1rem;
}

.nb-theme-default nb-layout.window-mode .layout {
  nb-layout-header nav, nb-layout-footer nav {
    height: 50px !important;
  }
}

.nb-theme-default nb-menu .menu-item a {
  font-size: $sb_small_font_size !important;
}


/**
* for component styling
*/

.sb_common_font_size {
  font-size: $sb_common_font_size;
}

.sb_button_primary {
  background-color:$sb_primary_button_color !important;
  color: white !important;
  padding: 1px 4px !important;
}

.sb_button_secondary {
  background-color:$sb_secondary_button_color!important;
  color: white !important;
  padding: 1px 4px !important;
}

.sb_button_danger {
  background-color:$sb_danger_button_color!important;
  color: white !important;
  padding: 1px 4px !important;
}

// for table styling

table.table.sb_table {
  thead {
    background-color:$sb_product_color;
    color: white;
  }
}

.sb-small {
  font-size: $sb_common_font_size;
}

hr.hr_line {
  margin: 0 0 1rem !important;
}

// for action icons

button.btn.sb_button_primary.action_buttons {
  margin: 0 2px;

}